<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="CalculatorService1">
          <textMessageEncoding messageVersion="Soap12" />
          <tcpTransport />
        </binding>
        <binding name="EchoService">
          <textMessageEncoding messageVersion="Soap12" />
          <tcpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="CalculatorService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:666/battlenet/Calculator"
        binding="customBinding" bindingConfiguration="CalculatorService1"
        contract="BattleNet.ICalculator" name="CalculatorService" />
      <endpoint address="net.tcp://localhost:666/battlenet/Echo" binding="customBinding"
        bindingConfiguration="EchoService" contract="BattleNet.IEcho"
        name="EchoService" />
    </client>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>

<!--
<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="CalculatorService1">
          <textMessageEncoding messageVersion="Soap12" />
          <tcpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="CalculatorService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:666/battlenet/Calculator"
        binding="netTcpBinding" bindingConfiguration="CalculatorService"
        contract="BattleNet.ICalculator" name="CalculatorService" />
      <endpoint address="net.tcp://localhost:666/battlenet/Calculator"
        binding="customBinding" bindingConfiguration="CalculatorService1"
        contract="BattleNet.ICalculator" name="CalculatorService1" />
    </client>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
-->