<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="E:\Traces.svclog" >
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messageListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="E:\Messages.svclog" >
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging
logEntireMessage="true"
logMalformedMessages="true"
logMessagesAtServiceLevel="true"
logMessagesAtTransportLevel="true"
maxMessagesToLog="2147483647"
maxSizeOfMessageToLog="2147483647"
/>
    </diagnostics>
    <services>
      <service name="Microsoft.Samples.NetTcp.EchoImpl" behaviorConfiguration="CalculatorServiceBehavior">
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="CalculatorService1">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <tcpTransport />
        </binding>
        <binding name="EchoService">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <tcpTransport />
        </binding>
        <binding name="NativeCalculatorService">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <tcpTransport />
        </binding>
        <binding name="NativeEchoService">
          <textMessageEncoding messageVersion="Soap12" />
          <tcpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="CalculatorService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:666/battlenet/Calculator"
        binding="customBinding" bindingConfiguration="CalculatorService1"
        contract="BattleNet.ICalculator" name="CalculatorService" />
      <endpoint address="net.tcp://localhost:666/battlenet/Echo" binding="customBinding"
        bindingConfiguration="EchoService" contract="BattleNet.IEcho"
        name="EchoService" />
      <endpoint address="net.tcp://localhost:666/battlenet/NativeCalculator"
        binding="customBinding" bindingConfiguration="NativeCalculatorService"
        contract="BattleNet.INativeCalculator" name="NativeCalculatorService" />
      <endpoint address="net.tcp://localhost:666/battlenet/NativeEcho"
        binding="customBinding" bindingConfiguration="NativeEchoService"
        contract="BattleNet.INativeEcho" name="NativeEchoService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>

<!--
<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <customBinding>
        <binding name="CalculatorService1">
          <textMessageEncoding messageVersion="Soap12" />
          <tcpTransport />
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding name="CalculatorService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:666/battlenet/Calculator"
        binding="netTcpBinding" bindingConfiguration="CalculatorService"
        contract="BattleNet.ICalculator" name="CalculatorService" />
      <endpoint address="net.tcp://localhost:666/battlenet/Calculator"
        binding="customBinding" bindingConfiguration="CalculatorService1"
        contract="BattleNet.ICalculator" name="CalculatorService1" />
    </client>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
-->